@model praktika.Models.ClassificationVacation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClassificationVacation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeClassification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeClassification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameClassification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameClassification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodVacation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodVacation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsageCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsageCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdClassificationVacation">Изменить</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>
