@model praktika.Models.Vacation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vacation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdWorker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdWorker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVacationReal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVacationReal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacationCountReal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationCountReal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClassificationVacation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClassificationVacation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdApplicationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdApplicationNavigation.IdApplication)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVacation">Изменить</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>
