@model praktika.Models.Worker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Worker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateHiring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateHiring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentNavigation.IdDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderNavigation.GenderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostNavigation.Post1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdWorker">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
