@model praktika.Models.ApplicationForVacation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApplicationForVacation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBeginVacation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBeginVacation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacationCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusApplication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClassificationVacationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClassificationVacationNavigation.CodeClassification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdWorkerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdWorkerNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdApplication">Изменить</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>
