@using System.Linq;

@model IEnumerable<praktika.Models.ApplicationForVacation>

@{
    ViewData["Title"] = "Заявки на отпуск";
}

<h1 text align="center">Заявки на отпуск</h1><br/>

    <p>
    <a href="Create" class="btn btn-light btn-lg btn-block" data-toggle="tooltip" data-placement="top" title="Создать заявку" >+</a>
    </p>

@if (Role.role.Admin == 1)
{  
    <table class="table">
        <thead>
        <tr>
          <th scope="col">@Html.DisplayNameFor(model => model.DateBeginVacation)</th>
          <th scope="col">@Html.DisplayNameFor(model => model.VacationCount)</th>
          <th scope="col">@Html.DisplayNameFor(model => model.IdStatusApplication)</th>          
          @*<th scope="col">@Html.DisplayNameFor(model => model.IdClassificationVacationNavigation)</th>*@
          <th scope="col">Вид отпуска</th>
          @*<th scope="col">@Html.DisplayNameFor(model => model.IdWorkerNavigation)</th>*@
          <th scope="col">Имя сотрудника</th>
          <th></th>
        </tr>
      </thead>
      <tbody>        
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateBeginVacation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacationCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdStatusApplicationNavigation.NameStatusClassification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClassificationVacationNavigation.NameClassification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdWorkerNavigation.Name)
            </td>
            <td>
                <a class="btn" style="color: #000000; background-color: #AFEEEE; " role="button" href="~/ApplicationForVacations1/Edit/@item.IdApplication">Изменить</a>
                <a class="btn" style="color: #000000; background-color: #AFEEEE; " role="button" href="~/ApplicationForVacations/Details/@item.IdApplication">Детали</a>
                <a class="btn" style="color: #000000; background-color: #AFEEEE; " role="button" href="~/ApplicationForVacations/Delete/@item.IdApplication">Удалить</a>
            </td>
        </tr>}
    </tbody>
    </table>

}
else
{
    <table class="table">
        <thead>
        <tr>
          <th scope="col">@Html.DisplayNameFor(model => model.DateBeginVacation)</th>
          <th scope="col">@Html.DisplayNameFor(model => model.VacationCount)</th>
          <th scope="col">@Html.DisplayNameFor(model => model.IdStatusApplication)</th>          
          @*<th scope="col">@Html.DisplayNameFor(model => model.IdClassificationVacationNavigation)</th>*@
          <th scope="col">Вид отпуска</th>
          @*<th scope="col">@Html.DisplayNameFor(model => model.IdWorkerNavigation)</th>*@
          <th scope="col">Имя сотрудника</th>
          <th></th>
        </tr>
      </thead>
      <tbody>        
@foreach (var item in Model.ToList().Where(x => x.IdWorker == Role.role.IdWorker)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateBeginVacation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacationCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdStatusApplication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClassificationVacationNavigation.NameClassification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdWorkerNavigation.Name)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.IdApplication">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.IdApplication">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.IdApplication">Удалить</a>*@

                <a class="btn" style="color: #000000; background-color: #AFEEEE; " role="button" href="~/ApplicationForVacations/Edit/@item.IdApplication">Изменить</a>
                <a class="btn" style="color: #000000; background-color: #AFEEEE; " role="button" href="~/ApplicationForVacations/Details/@item.IdApplication">Детали</a>
                <a class="btn" style="color: #000000; background-color: #AFEEEE; " role="button" href="~/ApplicationForVacations/Delete/@item.IdApplication">Удалить</a>
            </td>
        </tr>}
    </tbody>
    </table>
}   
    
