@model IEnumerable<praktika.Models.Department>

@{
    ViewData["Title"] = "Отделы";
}

<h1 text align="center">Отделы</h1><br />

<div align="left">

    @using(Html.BeginForm("Export", "Departments", FormMethod.Post))
{
<input type="submit" value="Отчет" />
}
</div>

<p>
    <a href="Create" class="btn btn-light btn-lg btn-block" data-toggle="tooltip" data-placement="top" title="Добавить отдел" >+</a>
</p>

<table class="table" align="">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department1)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.IdDepartment">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.IdDepartment">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDepartment">Удалить</a>*@

                <a class="btn" style="color: #000000; background-color: #AFEEEE; " role="button" href="~/Departments/Edit/@item.IdDepartment">Изменить</a>
                <a class="btn" style="color: #000000; background-color: #AFEEEE; " role="button" href="~/Departments/Details/@item.IdDepartment">Детали</a>
                <a class="btn" style="color: #000000; background-color: #AFEEEE; " role="button" href="~/Departments/Delete/@item.IdDepartment">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
